* {
    padding: 0;
    margin: 0;
    color: black;
}

body {
    display: flex;
    background-color: #BEC2D5;
}

.box1 {
    height: 100px;
    width: 100%;
    border-bottom: 1px solid black;
}

.sidebar {
    height: 100vh;
    width: 230px;
    display: flex;
    flex-direction: column;
    border-right: 2px solid #5C5E62;
}

.logo {
    font-family: "Inspiration", cursive;
    font-size: 18px;
    color: #215DDD;
    margin: 3px;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.selected {
    margin: 7px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;


}

.selected div {
    display: inline;
    padding-left: 5px;
}

.word span {
    display: block;
}

.word {
    margin: 7px 0 0 30px;
}

.box2 {
    width: 100%;
    height: 190px;
    border-bottom: 1px solid black;
}

.box3 {
    width: 100%;
    height: 190px;
    border-bottom: 1px solid black;
}

.box4 {
    width: 100%;
    height: 190px;
}

.mainsection {
    height: 100vh;
    width: 100%;
}

.righselect {
    text-align: end;
    margin: 8px;
}

.left {
    margin: 30px 0 0 45px;
    font-weight: 900;
    font-size: 17px;

}

.left span {
    display: block;
    font-size: 10px;
    font-weight: lighter;
    color: #5C5E62;
    padding-left: 3px;
}

.boxes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    width: fit-content;
    margin: auto;
    margin-top: 30px;
}

.boxes1 {
    width: 180px;
    height: 250px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 10px 0 10px 15px;
    display: flex;
    flex-direction: column;
}

.boxes1 img {
    height: 150px;
    width: 150px;
}

.boxes1 h3{
    margin-top: 20px;
}

.boxes1 p{
    margin-top: 5px;
}

.boxes2{
    background-color: #526A9B;
}

.boxes2 img{
    height: 100px;
    width: 100px;
}